.Container p {
  transition: all 0.2s ease-in-out;
}

.Container:hover p {
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #2fd4cf;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #28b6b2;
}

.Container .svgContainer .CopyButton {
  scale: 0.9;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.Container .svgContainer:hover .CopyButton {
  scale: 1;
  opacity: 1;
}

.svgContainer .svgs {
  transition: all 0.25s ease-in-out;
}

.svgContainer:hover .svgs {
  scale: 1.2;
}

.bgImage {
  animation: levitation 7s infinite ease-in-out;
}

@keyframes levitation {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(20px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
