.Container p {
  transition: all 0.2s ease-in-out;
}

.Container:hover p {
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}

::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #288767;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #227358;
}

.Container .svgContainer .CopyButton {
  scale: 0.9;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.Container .svgContainer:hover .CopyButton {
  scale: 1;
  opacity: 1;
}

.svgContainer .cover {
  transition: all 0.2s ease-in-out;
}

.svgContainer:hover .cover {
  display: none;
}
