.svgContainer p {
  transition: all 0.2s ease-in-out;
}

.svgContainer:hover p {
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}
