@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: satoshi-var;
  src: url(/font/Satoshi-Variable.ttf);
}

* {
  font-family: satoshi-var, Helvetica, sans-serif;
  /* outline: auto; */
}

html,
body {
  scroll-behavior: smooth;
}
